.form {
    margin: 1rem auto;
    max-width: 480px;
}

.input-group {
    width: 100%;
}

.input,
select,
textarea {
    margin: .5rem 0;
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
    border-bottom: var(--color-tertiary) 2px solid;
    border-right: var(--color-tertiary) 2px solid;
}

.form-paragraph {
    text-align: center;
}