.form {
    margin: 1rem auto;
    padding: 1rem 4rem;
    max-width: 480px;
}

.input-group {
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 110%;
    margin-top: 1rem;
    margin-bottom: .5rem;
    display: inline-block;
    color: var(--color-white)
}

.input,
select,
textarea {
    margin: .5rem 0;
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
    border-bottom: var(--color-tertiary) 2px solid;
    border-right: var(--color-tertiary) 2px solid;
}

.form-paragraph {
    text-align: center;
}