.header {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    position: fixed;
    width: 100vw;
    transition: all .3s;
}

.header__logo p {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.header__nav {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list__item {
    padding: 1.5rem;
    opacity: .7;
    cursor: pointer;
}

#header-img {
    height: 3rem;
    border-radius: 50%;
}

.nav-list__item:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header__nav {
        align-self: center;
        flex-direction: column;
        display: none;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list__item {
        padding: .5rem 1.5rem;
    }

    .header__logo p {
        font-size: 2.2rem;
    }
}

#mobile-menu {
    display: none;
    position: fixed;
    color: var(--color-white);
    top: .8rem;
    right: 2rem;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
    transition: all .3s;
}

@media (max-width: 768px) {
    #mobile-menu {
        display: inline-block;
    }
}

.menu-close {
    background-color: transparent;
}

.bar {
    width: 1.8rem;
    height: .3rem;
    background-color: #ddd;
    transition: all .2s;
}

.top {
    margin-bottom: .3rem;
    transform: none;
    transform-origin: top right;
}

.middle {
    margin-bottom: .3rem;
    visibility: visible;
}

.bottom {
    transform: none;
    transform-origin: bottom right;
}

.footer {
    color: var(--color-white);
    background-color: var(--color-tertiary);
}

.footer-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 3rem;
}

.footer-section .nav-list {
    flex-direction: column;
    align-items: flex-start;
}

.footer-section .nav-list__item {
    padding: 1rem;
}

.address {
    line-height: 2;
}

.copy {
    padding: 1rem 2rem;
    background-color: var(--color-black);
}

.copy__text {
    font-size: 80%;
}