.profile-container {
  background-image: linear-gradient(to right bottom, rgba(1, 22, 39, .6), rgba(38, 96, 164, .6)), url('../img/img_2.jpg');
  background-size: cover;
  background-position: top;
  color: var(--color-white);
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  padding-top: 7rem;
}

.tab {
  display: flex;
}

.tabcontent {
  display: none;
  width: 100%;
}

#vote,
#results {
  display: block;
}

.party-logo {
  height: 5em;
  width: 5em;
  border-radius: 0px;
}

.party-container {
  display: flex;
  justify-content: center;
}

#parties .review {
  background-color: var(--color-primary);
}

#intent,
#create-office,
#create-party {
  color: var(--color-tertiary)
}

@media (max-width: 768px) {
  .profile-container {
    padding: 1rem;
    padding-top: 5rem;
    align-items: flex-start;
  }
}