.table-container {
  display: table;
  overflow-x: auto;
}

table {
  color: var(--color-black);
  padding: 1rem;
}

thead {
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-secondary);
}

tbody {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

tr:nth-child(even) {
  color: var(--color-secondary);
  background-color: #e9e9e9;
}

td,
th {
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}

td .button {
  margin: 0;
  padding: .5rem;
}