.u-center {
  text-align: center !important;
}

.u-white {
  color: var(--color-white) !important;
}

.u-black {
  color: var(--color-black) !important;
}

.u-blue {
  background-color: var(--color-primary);
}

.u-blue--alt {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
}


.active {
  opacity: 1;
  border-bottom: 1px solid var(--color-white)
}