hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.u-center {
  text-align: center !important;
}

.u-white {
  color: var(--color-white) !important;
}

.u-black {
  color: var(--color-black) !important;
}

.u-blue {
  background-color: var(--color-primary);
}

.u-blue--alt {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
}


.active {
  opacity: 1;
  border-bottom: 1px solid var(--color-white)
}

/**
 * Errors
 */
.error {
  border: 1px solid red;
}

.error-message {
  color: white;
  font-style: italic;
  margin-bottom: 1em;
  text-shadow: 0px 0px 5px red;
}

/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 9;
  border: 16px solid var(--color-white);
  border-radius: 50%;
  border-top: 16px solid var(--color-primary);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

#loader-background {
  background: rgba(20, 20, 20, .6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 8;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: .2s;
  animation-name: animatebottom;
  animation-duration: .2s
}

@keyframes animatebottom {
  from {
    opacity: 0;
    top: 0;
  }

  to {
    opacity: 1;
    top: 30%;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

/* Loader courtesy of w3shools.com
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */

.alert {
  padding: 2rem;
  border: 1px solid var(--color-white);
  display: none;
  position: fixed;
  left: 50%;
  -webkit-animation: animatebottom .2s linear;
  animation: animatebottom .2s linear;
  margin: 0 auto;
  top: 50%;
  transform: perspective(1px) translate(-50%, -50%);

  background-color: rgb(30, 158, 8)
}

.success {
  background-color: rgb(30, 158, 8);
}

.failure {
  background-color: var(--color-secondary);
}

#alert-message {
  color: white;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
}

.show {
  display: block;
}

.small {
  font-size: 80%;
  font-style: italic;
}